<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../menu.css">
<link rel="stylesheet" type="text/css" href="../home.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body style="overflow: auto;">
<div class="page">
  <span class="menu_toggle">
    <i class="menu_open fa fa-bars fa-lg"></i>
    <i class="menu_close fa fa-times fa-lg"></i>
  </span>
  <form  action="/logout" method="post" autocomplete="off">
  <ul class="menu_items">
    <li><a href="../index_login"><i class="icon fa fa-home fa-2x"></i> Home</a></li>
    <li><a href="../movie_login"><i class="icon fa fa-film fa-2x"></i> Movie</a></li>
    <form action="/index_login" method="GET" autocomplete="off">
    <li style="color: black">
      <div class="form-group log_btn">
      <input type="submit" value="Logout" class="btn float-right login_btn">
      </div>
    </li>
    </form>
  </ul>
  </form>
  <main class="content">
    <div class="content_inner">
      <img src="../image/movie_background.jpg" alt="movie_background" width="100%">
      <div>
        <div class="button-container">
        <a href="">movie1</a>
        <img src="../image/movie1.jpg" alt="movie1">
        </div>
        <div class="button-container">
        <a href="">movie2</a>
        <img src="../image/movie2.jpg" alt="movie2">
        </div>
        <div class="button-container">
        <a href="">movie3</a>
        <img src="../image/movie3.jpg" alt="movie3">
        </div>
        <div class="button-container">
        <a href="">movie4</a>
        <img src="../image/movie4.jpg" alt="movie3">
        </div>
      </div>

    </div>
  </main>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="../menu.js"></script>
</body>
</html>