<head>
	<link rel = "stylesheet"
   type = "text/css"
   href = "../../addStyle.css" />
</head>

<h3>{{viewTitle}}</h3>
<form action="/admin/member" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{member._id}}">
	<div class="form-group">
		Member_ID:<br>
		<input type="numbers" class= "form-control" name="member_id" placeholder = "Member_ID" value="{{member.member_id}}" pattern="{1,20}">
		<br>
	</div>
	<div class="form-group">
		First name:<br>
		<input type="text" class= "form-control" name="firstname" placeholder = "First Name" value="{{member.firstname}}" pattern="[A-z]{1,20}" title="Please enter the name of not more than 20 words.">
		<br>
	</div>
	<div class="form-group">
		Last name:<br>
		<input type="text" class= "form-control" name="lastname"  placeholder = "Last Name" value="{{member.lastname}}" pattern="[A-z]{1,20}" title="Please enter the name of not more than 20 words.">
		<br>
	</div>
	<div class="form-group">
		Email:<br>
		<input type="email" class= "form-control" name="email" value="{{member.email}}" placeholder = "Email" pattern="[A-z0-9@.]{1,100}" title="Please enter the email of not more than 50 strings.">
		<br><br>
	</div>
	<div class="form-group">
		User ID:<br>
		<input type="text" class= "form-control" name="user_id" value="{{member.user_id}}" placeholder = "User ID"  ">
		<br>
	</div>
	<div class="form-group">
		Password:<br>
		<input type="text" class= "form-control" name="password" value="{{member.password}}" placeholder = "Password"  ">
		<br>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
		<button type="reset" class= "btn btn-info">Reset</button>
	</div>
</form>
<div class="outer_button">
		<button type="menu" class="btn btn-info"><a  href="/admin/menu/menu"><i class="fa fa-list-alt"></i>Menu</a> </button>
		<button type="view" class="btn btn-info"><a  href="/admin/member/list"><i class="fa fa-list-alt"></i>View All</a> </button>
</div>
