<head>
  <link rel = "stylesheet"
   type = "text/css"
   href = "../../../menu_admin.css" />
</head>

<body>
<h1>Menu</h1>

<div class="menu">

<ul>
  <li><a href="/index_login">Home</a></li> 
  <li><a href="/admin/member">Create Member</a></li>
  <li><a href="/admin/member/list">Check Member</a></li>
  <li><a href="/admin/staff/list">Check Staff</a></li>
  <li><a href="/admin/movie">Create Movie</a></li>
  <li><a href="/admin/movie/list">Check Movie</a></li>
  <li><a href="/admin/movieRate/list">Check Movie Rate</a></li>
</ul>
</div>
<form  action="/logout" method="post" autocomplete="off">
<div class="btn btn-info">
<input type="submit" value="Logout" class="btn float-right login_btn">
</div>
</form>
</body>
